body {
  background-color: bisque;
  margin: 0;
}

header {
  justify-content: center;
  text-align: center;
}

h1 {
  width: 100%;
  text-align: center;
}

nav {
  display: flex;
}

#logo {
  background-image: url('../assets/logo.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 70px;
  height: 60px;
  margin-top: 20px;
  margin-left: 50px;
}

.menu {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

.menu a {
  text-decoration: none;
}

.like {
  background-image: url('../assets/likeR.png');
  background-repeat: no-repeat;
  min-width: 30px;
  min-height: 30px;
  max-width: 30px;
  max-height: 30px;
  background-size: cover;
  margin-left: 5px;
}

.like:hover {
  background-image: url('../assets/likeW.png');
}

#app {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 10%;
  justify-content: space-between;
  margin-top: 20px;
}

.box {
  width: 30%;
  min-width: 200px;
  max-width: 370px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.image {
  width: 100%;
  justify-content: center;
  text-align: center;
}

.image img {
  max-width: 95%;
  min-width: 300px;
  max-height: 350px;
}

.title_like {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 5px 0;
  padding: 0 20px;
}

title {
  width: 80%;
}

.likebox {
  display: flex;
}

footer {
  border: 1px solid black;
  height: 50px;
  align-items: center;
  padding-left: 20px;
  position: relative;
  bottom: 0;
}

button {
  margin-bottom: 5px;
}
