body {
  background-color: bisque;
}

header {
  justify-content: center;
  text-align: center;
}

nav {
  display: flex;
  padding: 0 150px 0 80px;
}

#logo {
  background-image: url('../assets/logo.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 70px;
  height: 60px;
}

.menu {
  display: flex;
  justify-content: center;
  width: 80%;
}

.menu a {
  text-decoration: none;
}